@font-face {
  font-family: "BentonSans Black";
  src: local("☺"), url("media/fonts/benton-sans-black.otf") format("opentype");
}

body {
  font-family: "BentonSans Black", sans-serif;
  margin: 0;
}

p {
  padding: 0.1em;
  font-size: 96px;
  margin: 0;
}

p img {
  height: 90px;
  vertical-align: top;
}

a img {
  border: 0;
}

.selected {
  background-color: #888;
}

.hidden {
  display: none;
}

@media (max-width: 720px) {
  p {
    font-size: 72px;
  }
  p img {
    height: 68px;
  }
}

@media (max-width: 480px) {
  .date {
    display: none;
  }
  p {
    font-size: 48px;
  }
  p img {
    height: 44px;
  }
}
