@font-face {
  font-family: "BentonSans Regular";
  src: local("☺"), url("media/fonts/benton-sans-regular.otf") format("opentype");
}

body {
  font-family: "BentonSans Regular", Univers, "Helvetica Neue", Helvetica,
    sans-serif;
}

a {
  text-decoration: none;
  color: #ff4040;
}

.roman {
  font-variant: small-caps;
}
